*~
*.aux
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.out
*.toc
*.brf
.directory
.DS_Store
*.log
.nfs*
.Rproj.user
*/tmp

/*.mko
/*.o*
/*.R
/.Renviron
/*.toc
/cache/*.*
/cache/*-*
*/tmp/*.*
!/tmp/.gitkeep
**/tmp*
local
cache
figure
*.synctex.gz
*.old

*-concordance.tex

hw01Sol.*

.Rhistory
03/*
04/*
05/*
06/*
cal/*
hw01/*
hw02/*
hw03/*
